.page--header {
  display: flex;
  background: #f55a5a;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}

.page--header > h1 {
  color: #ffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
}
